---
---
@import "{{ site.theme }}";

:root {
  --one-color: #1A1A1D; /* background */
  --two-color: #4E4E50;
  --three-color: #6F2232;
  --four-color: #950740;
  --five-color: #C3074F;
  --six-color: #CECECE;
}

section {
    float:none;
}
.wrapper {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
html {
    font-size: 18px !important;
    line-height: 1.6 !important;
}

body {
    font-size: 18px !important;
    font-weight: 400 !important;
    background-color: var(--one-color) !important;
    color:  var(--six-color) !important;
    -webkit-font-smoothing: antialiased !important;
}

em {
  color:  var(--two-color) !important;
}

a {
    color: var(--five-color) !important;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 12px !important;
    text-decoration: overline !important;
}
h1 {
    color: var(--four-color) !important;
}
h2, h3, h4, h5, h6 {
    color: var(--three-color) !important;
    margin-top: 100px !important;
}

