---
---

@import "{{ site.theme }}";

section {
    float:none;
}

.wrapper {
    /* width: 860px; */
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

html {
    font-size: 18px !important;
    line-height: 1.6 !important;
}

body {
    font-size: 18px !important;
    font-weight: 400 !important;
    background-color: #fff !important;
    -webkit-font-smoothing: antialiased !important;
}
